<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
		</startup>
		<appSettings>
				<add key="orwell.ApiUrl" value="http://api.orwellasp.net/"/>
				<!--<add key="orwell.ApiUrl" value="http://localhost:8083/"/>-->
		</appSettings>
</configuration>